# Python
venv/
env/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
.env

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE / OS
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
